* {
	margin: 0px auto 0px auto;
	padding: 0px;
	border: 0px;
}

body {
	background-image: url(images/mi.jpg);
	font: 12px Verdana, Tahoma, sans-serif;
	color: #000000;
}

header {
	-moz-border-radius-bottom-left: 20px;
	border-bottom-left-radius: 30px;
	position: fixed;
	margin-top: -100px;
	background-image: url(images/tr.jpg);
	color: rgb(0, 0, 0);
	width: 98%;
	text-align: center;
}

footer {
	position: fixed;
	left: 20px;
	bottom: 20px;
}

main {
	display: -webkit-flex;
	display: flex;
}

section {
	margin-top: 100px;
}

section div#content {
	padding-left: 20px;
}


nav {
	width: 220px;
}
nav > p {
	padding: 5px;
	position: fixed;
}
nav p ~ p {padding: 20px;}
nav ul {
	margin: 200px 10px 0px 10px;
	position: fixed;
	list-style-type: none;
	width: 200px;
}
nav ul li:first-child { margin-top: 0px; }
nav ul li { margin: 0 0 0 20px; }
nav ul li a {
	display: block;
	width: 100%;
	font-size: 120%;
	line-height: 150%;
	color: #3333ff;
	text-decoration: none;
}
nav ul li a:hover {
	display: block;
	text-decoration: underline;
}

section, header {
  	-webkit-flex: 1;
	        flex: 1;
}

section p {
	margin: 10px;
}

#logo {
	background: url(images/leaf.png) 0px 0px/200px 200px no-repeat fixed;
	border: 1px dashed #000;
	display: block;
	height: 200px;
	width: 200px;
}