* {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

body {
	background-color: #eeeeee;
	font: 12px Verdana, Tahoma, sans-serif;
	color: #000000;
	margin-top: -16px;
}

main {
	display: block;
	width: 90%;
	margin: 0 auto;
	height: 100%;
}

nav {
	float: left;
	width: 200px;
	height: 100%;
	margin-top: 16px;
}
nav ul {
	width: 100%;
	list-style-type: none;
}
nav ul li {
	background-color: #ccc;
	padding: 5px 2px;
}
nav ul li a {
	color: #33f;
	display: block;
	width: 100%;
}
nav ul li a:hover {
	color: #fff;
}

section {
	/*float: left;*/
	margin-left: 220px;
}

header {
	border-radius: 0 0 30px 30px;
	background-image: url(images/tr.jpg);
	display: block;
	width: 100%;
	text-align: center;
	line-height: 50px;
}

footer {
	position: fixed;
	left: 20px;
	bottom: 20px;
}

#logo {
	/*background: url(images/leaf.png) 0px 0px/200px 200px no-repeat fixed;*/
	border: 1px dashed #000;
	display: block;
	height: 200px;
	width: 200px;
}

input[type=text] /* for forms */